<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bar Code Scanner App</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/html5-qrcode.min.js"></script>
</head>
<body data-rsssl=1>


    <div class="container">

        <div class="container_box">
            <div class="images_box">
                <!-- <img src="img/styleunion.jpg" alt=""> -->
                <!-- <img src="img/partnership.png" alt=""> -->
                <img src="img/gwc.svg" alt="">
            </div>
        </div>
        
        <main class="main">
            <div id="reader"></div>
            <div id="result"></div>
            <div id="view_result">
            </div>
        </main>
    </div>



    <script>


        document.getElementById('view_result').classList.remove('active');

        const scanner = new Html5QrcodeScanner('reader', {
            qrbox: {
                width: 200,
                height: 200,
            },
            fps: 20,
        });

        scanner.render(success, error);

        async function success(result) {

            const endpoint = window.location.origin

            document.getElementById('view_result').classList.add('active');
            document.getElementById('view_result').innerHTML = `
            <div class='result_btns'>
                <div>Loading...</div>
            </div>
            `;

           
                if(result){
                    document.getElementById('view_result').innerHTML = `
                        <div class='result_btns'>
                            <button class='redirect_domo' onclick="redirectdashboard('${result}')">View Result</button>
                            <button class='redirect_scan' onclick="restartScan()">Scan</button>
                        </div>
                    `;
                }else{
                    document.getElementById('view_result').innerHTML = `
                    <div class='result_btns'>
                        <div>No Found Style Code</div>
                        <button class='redirect_scan' onclick="restartScan()">Scan</button>
                    </div>
                    `;
                }
          


            scanner.clear();
        }

        function error(err) {
            console.error(err);
        }

        function redirectdashboard(code) {
            window.open(`https://gwcteq-partner.domo.com/app-studio/380105050/pages/1215977438?pfilters=[{"column":"asset_id","dataSourceId":"467ebc7e-dff7-4af4-a795-7742b99f4b1c","operand":"IN","values":["${code}"]}]`, '_blank')
        }

        function restartScan() {
            location.reload(true);
        }

    </script>
    
</body>
</html>